<div class="comment-block">
  <h4><%= comment.author %> said:</h4>
<p>
  <%= simple_format(comment.content) %>
</p>
<%= link_to 'Delete Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>              
</div>