<div class="content-block">
  <% @tags = Post.tag_counts_on(:tags) %>
  <% tag_cloud(@tags, %w(cloud1 cloud2 cloud3 cloud4)) do |tag, css_class| %>
    <%= link_to tag.name, { :tag => tag.name }, :class => css_class %>
  <% end %>
</div>

<div id="notice"><%= notice %></div>